.action-buttons {
    padding: 20px 5%;
    text-align: center;

    & > a {
        display: inline-block;
        margin: 6px;
        padding: 14px 0;
        height: 2.8em;
        width: 4.8em;
        line-height: 0.4em;
        background-color: #fff;
        border: 1px $lightgrey solid;
        font-size: 1.2rem;
        color: #000;
        text-decoration: none;

        &:hover {
            color: #000;
            background: $lightblue;
            text-decoration: none;
        }

        &.largepic {
            padding: 0.5em 2em;
            width: 136px;
            height: auto;
            line-height: 100%;

            img {
                width: 128px;
                height: 128px;
            }
        }

        &.nopic {
            height: 26px;
            width: 150px;
            padding: 12px 0 0 0;
        }

        input[type='submit'],
        button {
            width: 100px;
            height: 50px;
        }

        &.positive {
            border: 2px $green solid;
        }

        &.negative {
            border: 2px $red solid;
        }

        img,
        svg {
            display: block;
            width: 32px;
            height: 32px;
            margin: 0.1em auto 0.5em auto;
        }
    }
}
