.action-panel {
    border: 1px $lightgrey solid;
    background: $whiteglass;
    margin-bottom: 1em;
    padding-top: 1em;
    min-height: 450px;
    height: auto;
    box-sizing: border-box;

    h3 {
        color: #000;
        font-size: 1.2em;
        font-family: $font-bridgnorth;
        margin: 0.5em 1em 0.75em 1em;
        letter-spacing: 0.1em;
    }

    div {
        float: left;
        width: 100%;
        margin: 0.2em 0;
        background-color: #fff;
        border-top: 1px $lightgrey solid;
        border-bottom: 1px $lightgrey solid;
        box-sizing: border-box;

        a {
            font-family: $font-bridgnorth;
            color: #000;
            line-height: 2.5em;
            text-decoration: none;
            display: block;
        }

        &:hover {
            background-color: $lightblue;
        }

        img {
            margin: 5px 10px;
            float: left;
        }
    }

    &-button {
        display: none;
        padding: 1em;
    }
}
