.action-panel {
    border: 1px $lightgrey solid;
    background: $whiteglass;
    margin-bottom: 1em;
    padding-top: 1em;
    min-height: 450px;
    height: auto;
    box-sizing: border-box;
    overflow-y: auto;

    h3 {
        color: #000;
        font-size: 1.2em;
        font-family: $font-bridgnorth;
        margin: 0.5em 1em 0.75em 1em;
        letter-spacing: 0.1em;
    }

    &__close-btn {
        display: none;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;

        .action-panel__item {
            width: 100%;
            margin: 0.2em 0;
            background-color: #fff;
            border-top: 1px $lightgrey solid;
            border-bottom: 1px $lightgrey solid;
            box-sizing: border-box;

            font-family: $font-bridgnorth;
            color: #000;
            line-height: 2.5em;
            text-decoration: none;
            display: block;

            &:hover {
                background-color: $lightblue;
            }

            img,
            svg {
                margin: 5px 10px;
                float: left;
                width: 30px;
                height: 30px;
            }

            @include mobile {
                border: none;
            }
        }
    }

    &-button {
        display: none;
        padding: 1em;

        @include mobile {
            display: block !important;
            float: left;

            img {
                padding: 0;
                margin: 0;
            }
        }
    }

    .fb-like-box {
        @include mobile {
            display: none;
        }
    }

    @include mobile {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        width: 90vw;
        height: 100vh;
        transform: translateX(-100vw);
        position: fixed;
        top: 0;
        left: 0;
        padding: 20px 0;
        z-index: 1000;
        background: #fff;

        &__close-btn {
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        &.show {
            transform: translateX(0);
        }
    }
}
