header {
    padding-top: 1em;
    position: relative;

    h1 {
        margin-left: 1em;
        text-shadow: 2px 2px 2px #000;

        a {
            color: $yellow;
            font-size: 1.5em;
            font-family: $font-bridgnorth;
            text-decoration: none;
            letter-spacing: 0.1em;
        }

        @include mobile {
            margin-bottom: 0;
        }
    }

    @include mobile {
        padding-top: 0;
    }
}

a#top-nav-panel_button {
    display: none;
    padding: 1em;

    @include mobile {
        display: block !important;
        float: left;

        img {
            padding: 0;
            margin: 0;
        }
    }
}

.top-nav-panel {
    background-color: $whiteglass;
    border: 1px $lightgrey solid;
    height: 50px;
    display: flex;
    align-items: center;

    p {
        margin: 1em;
    }

    &__item {
        display: flex;
        align-items: center;
        padding: 0 12px;
        height: 100%;

        color: #000;
        background-color: #fff;
        text-decoration: none;
        border-right: 1px solid $lightgrey;
        letter-spacing: 0.15em;
        font-weight: bold;
        font-family: $font-bridgnorth;
        font-size: 1em;

        svg {
            margin-right: 8px;
        }

        &:hover {
            background-color: $lightblue;
        }

        &--disabled {
            opacity: 0.6;

            &:hover {
                background-color: transparent !important;
                cursor: default;
            }
        }

        &--music-control {
            svg {
                margin: 0;
            }

            @include mobile {
                background: white;
                width: 100%;
                padding-bottom: 15px;
            }
        }

        @include mobile {
            border: 0 !important;
        }
    }

    @include mobile {
        width: 100% !important;
        min-height: auto !important;
        margin: 0.5em 0;
        display: none;
        position: absolute;
        top: 9em;
        z-index: 1000;
        background: #fff;
    }
}
