#log_panel {
    border: 1px $lightgrey solid;
    background: $whiteglass;
    padding: 1em 0 0 0;
    margin-bottom: 2em;
    min-height: 300px;
    height: auto;
    box-sizing: border-box;

    h3 {
        color: #000;
        font-size: 1.2em;
        font-family: $font-bridgnorth;
        text-align: left;
        margin-left: 1.3em;
        letter-spacing: 0.1em;
    }

    strong {
        font-size: 100%;
    }

    p {
        margin: 1em;
    }

    @include mobile {
        float: left;
        clear: both;
        width: 100% !important;
        min-height: auto !important;
        margin: 0.5em 0;
        display: none;
        position: absolute;
        top: 9em;
        z-index: 1000;
        background: #fff;
    }
}
