.ocean-map {
    area {
        outline: none;
    }
}

.town-info {
    position: absolute;
    background: $whiteglass;
    border: 1px $grey solid;
    padding: 4px;

    img {
        padding-right: 8px;
    }
}

.ocean-event-results {
    list-style: none;
    padding: 0;

    li {
        position: relative;

        svg {
            position: absolute;
            top: 10px;
            left: -4em;
        }

        &.positive {
            min-width: 90%;
            background: $green;
            font-weight: bold;
            padding: 1em;
            margin: 0 2em 1em 2em;
            border: 1px $darkgreen solid;
        }

        &.negative {
            width: 90%;
            background: $red;
            font-weight: bold;
            padding: 1em;
            margin: 0 2em 1em 2em;
            border: 1px $darkred solid;
        }
    }
}