.ocean-map {
    width: 100%;

    &__town-link {
        &--focus {
            outline: 2px $red solid;
        }
    }

    & > svg {
        width: 100%;
        box-shadow: 0px 0px 20px 3px #0000008a;
        margin-top: $spacing;

        @include mobile {
            height: 620px;
            box-shadow: none;
            margin-top: 0;
        }
    }

    @include mobile {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        & > svg {
            width: auto;
        }
    }
}

.town-info {
    position: absolute;
    background: $whiteglass;
    border: 1px $grey solid;
    padding: 4px;

    img {
        padding-right: 8px;
    }
}

.ocean-event-results {
    list-style: none;
    padding: 0;

    li {
        display: flex;
        align-items: center;
        min-width: 90%;
        padding: 0.5em;
        margin: 0.5em 1em;

        svg {
            vertical-align: middle;
            margin-right: 1em;
        }

        &.positive {
            background: $green;
            border: 1px $darkgreen solid;
        }

        &.negative {
            background: $red;
            border: 1px $darkred solid;
            color: #fff;
        }
    }
}
