@font-face {
    font-family: 'Bridgnorth';
    src: url('../fonts/Bridgnorth.otf');
}

* {
    font-family: 'Trebuchet MS', 'Tahoma', Arial, Helvetica, sans-serif;
    color: #000;
    line-height: 1.3;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e5f0f6;
    background-image: url('../images/design/back_ship.png'), url('../images/design/back_sky.jpg');
    background-position: 90% 100%, top left;
    background-repeat: repeat-x, repeat-x;
    background-attachment: fixed, fixed;
    background-size: 100% 35%, 100% 60%;
    font-size: 100%;
}

body.loading * {
    cursor: wait !important;
    opacity: 0.8;
}

body.loading:after {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -80px;
    margin-top: -30px;
    height: 60px;
    width: 160px;
    font-size: 2.5em;
    padding: 0.25em 1em;
    font-family: 'Bridgnorth', 'Lucida Sans Unicode', 'Georgia', 'sans-serif';
    background-color: #fff;
    color: #000;
    border: 2px #000 solid;
    content: 'Loading...';
}

header {
    padding-top: 3em;
}

header h1 {
    margin-left: 1em;
    text-shadow: 2px 2px 2px #000;
    filter: dropshadow(color=#000, offx=1, offy=1);
}

header h1 a {
    color: #fce854;
    font-size: 1.5em;
    font-family: 'Bridgnorth', 'Lucida Sans Unicode', 'Georgia', 'sans-serif';
    text-decoration: none;
    letter-spacing: 0.1em;
}

a#nav_top_button {
    display: none;
    padding: 1em;
}

nav#nav_top {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 0 3px #000;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

nav#nav_top p {
    margin: 1em;
}

nav#nav_top ul li {
    list-style-type: none;
}

nav#nav_top li a {
    display: block;
    float: left;
    padding: 15px 15px 15px 50px;
    color: #fce854;
    text-decoration: none;
    border-right: 1px solid #888;
    text-shadow: 1px 1px 2px #000, -1px -1px 2px #000;
    letter-spacing: 0.15em;
    font-weight: bold;
    font-family: 'Bridgnorth', 'Lucida Sans Unicode', 'Georgia', 'sans-serif';
    font-size: 1em;
}

nav#nav_top li a,
nav#nav_top li a#nav_game,
nav#nav_top li a#nav_register,
nav#nav_top li a#nav_players,
nav#nav_top li a#nav_chat,
nav#nav_top li a#nav_about,
nav#nav_top li a#nav_settings,
nav#nav_top li a#nav_logout {
    -webkit-transition: background 100ms ease;
    -moz-transition: background 100ms ease;
    -ms-transition: background 100ms ease;
    transition: background 100ms ease;
}

nav#nav_top li a#nav_game {
    background: url('../images/icons/game.png') no-repeat 10px 6px;
}
nav#nav_top li a#nav_register {
    background: url('../images/icons/register.png') no-repeat 10px 6px;
}
nav#nav_top li a#nav_players {
    background: url('../images/icons/players.png') no-repeat 10px 6px;
}
nav#nav_top li a#nav_chat {
    background: url('../images/icons/chat.png') no-repeat 10px 6px;
}
nav#nav_top li a#nav_about {
    background: url('../images/icons/about_faq.png') no-repeat 10px 6px;
}
nav#nav_top li a#nav_settings {
    background: url('../images/icons/settings.png') no-repeat 10px 6px;
}
nav#nav_top li a#nav_logout {
    background: url('../images/icons/logout.png') no-repeat 10px 6px;
}

nav#nav_top li a:hover,
nav#nav_top li a#nav_game:hover,
nav#nav_top li a#nav_register:hover,
nav#nav_top li a#nav_players:hover,
nav#nav_top li a#nav_chat:hover,
nav#nav_top li a#nav_about:hover,
nav#nav_top li a#nav_settings:hover,
nav#nav_top li a#nav_logout:hover {
    background-color: #e5e5eb;
    box-shadow: 0 0 2px #000;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

nav#nav_top li a.disabled {
    opacity: 0.6;
}

nav#nav_top li a.disabled:hover {
    background-color: transparent !important;
    cursor: default;
}

article {
    display: block;
    box-shadow: inset 0 0 3px #000;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.8);
    margin-top: 1em;
    margin-bottom: 3em;
    min-height: 400px;
    height: auto;
}

article a,
aside a {
    text-decoration: none;
}

article header {
    margin: 0;
    padding: 0;
    width: 100%;
}

article p {
    margin: 1em 2em;
}

article a {
    color: #c23a3a;
    text-decoration: underline;
}

article a:hover {
    color: #ff2828;
}

article div.divider {
    display: block;
    float: left;
    clear: both;
    width: 100%;
    height: 30px;
    margin: 1em auto 1em auto;
    background: url('../images/design/divider.png') transparent no-repeat;
    background-position: 50% 0;
}

article h2 {
    z-index: 20;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #fff6b5;
    font-size: 1.8em;
    font-family: 'Bridgnorth', 'Lucida Sans Unicode', 'Georgia', 'sans-serif';
    margin-left: 1em;
    text-shadow: 2px 2px 2px #000, 4px 4px 6px #000;
    background: rgba(0, 0, 0, 0.5);
    width: 80%;
    border-radius: 4px;
    padding: 0 0.5em;
    clear: both;
}

article h3 {
    margin: 1em 2em 0 2em;
    color: #000;
    font-size: 1.7em;
    font-family: 'Bridgnorth', 'Lucida Sans Unicode', 'Georgia', 'sans-serif';
    text-shadow: 2px 2px 4px #fce854;
    clear: both;
}

article h4 {
    margin: 1em 2em 0 2em;
    color: #000;
    font-size: 1.3em;
    font-family: 'Bridgnorth', 'Lucida Sans Unicode', 'Georgia', 'sans-serif';
    text-shadow: 2px 2px 4px #fce854;
    clear: both;
}

article form#register {
    z-index: 20;
    position: absolute;
    top: 100px;
    left: 40px;
    margin-left: 1em;
    width: 78%;
    height: 210px;
    padding: 1em 1.5em;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

article form#register fieldset {
    margin: 0;
    width: 100%;
    border: none;
}

article form#register legend {
    color: #fff6b5;
    font-size: 1.4em;
    font-family: 'Bridgnorth', 'Lucida Sans Unicode', 'Georgia', 'sans-serif';
    text-shadow: 2px 2px 2px #000, 4px 4px 6px #000;
    border-radius: 4px;
    margin: 0;
}

article form#register label {
    color: #fff;
}

article form#register p {
    color: #fff;
    margin: 0 0 0 1em;
}

article form#register img {
    margin: -0.4em 0em;
}

article form#register section#register_left {
    float: left;
    width: auto;
    width: 75%;
}

article form#register section#register_right {
    float: left;
    margin-left: 1em;
    width: auto;
}

article form#register input[type='submit'] {
    height: 100px;
    width: 100px;
}

article img.header {
    width: 90%;
    border: 1px black solid;
    border-radius: 8px;
    margin: 1em 5% 0 5%;
    z-index: 1;
}

article section.actions {
    float: left;
    clear: both;
    width: 90%;
    margin: 0 auto;
    padding: 20px 5%;
    text-align: center;
}

article section.actions a {
    display: inline-block;
    text-align: center;
    margin: 6px;
    padding: 8px 0 12px 0;
    height: 2.8em;
    width: 4.8em;
    line-height: 0.4em;
    background-color: rgb(220, 224, 226);
    border: 1px #ecf2f8 solid;
    box-shadow: 2px 2px 2px #000;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-family: 'Bridgnorth', 'Lucida Sans Unicode', 'Georgia', 'sans-serif';
    text-shadow: 2px 2px 3px #e5e1dd;
    font-size: 1.2em;
    color: #000;
    text-decoration: none;
    -webkit-transition: background 100ms ease;
    -moz-transition: background 100ms ease;
    -ms-transition: background 100ms ease;
    transition: background 100ms ease;
}

article section.actions a img {
    display: block;
    margin: 0.1em auto 0.5em auto;
    clear: both;
}

article section.actions a.largepic {
    padding: 0.5em 2em;
    width: 136px;
    height: auto;
    line-height: 100%;
}

article section.actions a.nopic {
    height: 26px;
    width: 150px;
    padding: 20px 0 0 0;
}

article section.actions a.positive,
article section.actions button.positive {
    border: 2px #3bb120 solid;
}

article section.actions a.negative,
article section.actions button.negative {
    border: 2px #c63636 solid;
}

article section.actions input[type='submit'],
article section.actions button {
    width: 100px;
    height: 50px;
    -webkit-transition: background 100ms ease;
    -moz-transition: background 100ms ease;
    -ms-transition: background 100ms ease;
    transition: background 100ms ease;
}

article section.actions a:hover,
article section.actions button:hover {
    background: rgba(168, 172, 185, 1);
}

article ul {
    width: 80%;
    margin: 1em 10%;
}

article ul li {
    padding-bottom: 0.8em;
}

article ul li.attack_good {
    min-width: 90%;
    background: #71de58;
    font-weight: bold;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 0em 1em 1em 1em;
    margin: 0 2em 1em 2em;
    border: 1px #3bb120 solid;
}

article ul li.attack_bad {
    width: 90%;
    background: #d96868;
    font-weight: bold;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 0em 1em 1em 1em;
    margin: 0 2em 1em 2em;
    border: 1px #c63636 solid;
}

/* -------- ACTION PANEL ---------- */
a#action_panel_button {
    display: none;
    padding: 1em;
}

aside#action_panel {
    box-shadow: inset 0 0 3px #000;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.8);
    margin-top: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    min-height: 400px;
    height: auto;
}

aside#action_panel h3 {
    padding-bottom: 1em;
    color: #fce854;
    font-size: 1.2em;
    font-family: 'Bridgnorth', 'Lucida Sans Unicode', 'Georgia', 'sans-serif';
    margin-left: 1em;
    text-shadow: 1px 1px 2px #000, -1px -1px 2px #000;
    letter-spacing: 0.1em;
}

aside#action_panel div {
    float: left;
    width: 90%;
    margin: 0.2em 5%;
    line-height: 50%;
    background: #fff;
    box-shadow: 0px 0px 1px #222;
    border: 1px #888 solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    opacity: 0.85;
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 100ms ease;
    transition: all 100ms ease;
}

aside#action_panel div:hover {
    background: #f1ebeb;
    opacity: 1;
}

aside#action_panel img {
    margin: 4px 8px;
    float: left;
}

aside#action_panel div a {
    font-size: 0.8em;
    font-family: georgia;
    color: #333;
    line-height: 3.4em;
    text-decoration: none;
    display: block;
}

aside#action_panel div a:hover {
    border: none;
}

/* ----- INVENTORY PANEL ------- */
a#inventory_panel_button {
    display: none;
    padding: 1em;
}

aside#inventory_panel {
    box-shadow: inset 0 0 3px #000;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.8);
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em 0;
    min-height: 360px;
    height: auto;
    text-align: center;
}

aside#inventory_panel div.inventory_user {
    padding: 0 0.5em 2em 0.5em;
    text-align: left;
}

aside#inventory_panel div.inventory_user a {
    font-size: 0.8em;
    text-decororation: none;
    color: #000;
}

aside#inventory_panel div.inventory_user img {
    border: none;
    border-radius: 4px;
    float: left;
    margin-right: 5px;
    width: 40px;
    height: 40px;
}

aside#inventory_panel h3 {
    padding-bottom: 1em;
    color: #fce854;
    font-size: 1.2em;
    font-family: 'Bridgnorth', 'Lucida Sans Unicode', 'Georgia', 'sans-serif';
    text-align: left;
    margin-left: 1em;
    text-shadow: 1px 1px 2px #000, -1px -1px 2px #000;
    letter-spacing: 0.1em;
}

aside#inventory_panel div.inventory_item {
    font-family: georgia;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 14px;
    background-color: #fff;
    margin-bottom: 12px;
    text-align: left;
    border-radius: 10px;
    border: 1px #888 solid;
    box-shadow: 0px 2px 2px #888;
    opacity: 0.85;
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 100ms ease;
    transition: all 100ms ease;
}

aside#inventory_panel div.inventory_item:hover {
    background-color: #f1ebeb;
    opacity: 1;
}

aside#inventory_panel div.inventory_item a {
    display: block;
    width: 100%;
    text-align: left;
    padding-left: 0.3em;
    position: relative;
    top: -12px;
}

aside#inventory_panel div.inventory_item img {
    position: relative;
    top: 6px;
}

aside#inventory_panel form {
    text-align: left;
}

/* ------ LOG PANEL ----------*/
aside#log_panel {
    box-shadow: inset 0 0 3px #000;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.8);
    padding: 1em 0 0 0;
    margin-bottom: 2em;
    min-height: 300px;
    height: auto;
}

aside#log_panel h3 {
    color: #000;
    font-size: 1.2em;
    font-family: 'Bridgnorth', 'Lucida Sans Unicode', 'Georgia', 'sans-serif';
    text-align: left;
    margin-left: 1.3em;
    letter-spacing: 0.1em;
}

aside#log_panel strong {
    font-size: 100%;
}

aside#log_panel p {
    margin: 1em;
}

/* ------ FOOTER ------ */
footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

footer a {
    color: #fff;
    text-align: right;
    font-style: italic;
    text-decoration: none;
}

/* ------ MISC ------ */

table {
    width: 90%;
    margin: 1em 5%;
}

fieldset table td:first-child {
    width: 35% !important;
}

table td,
table th {
    border: 1px #333 solid;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 0 4px 0 4px;
}

table th,
table tr {
    background: #e5e1dd;
}

table tr:nth-child(even) {
    background: #fff;
}

table th,
table th a {
    color: #000;
    text-align: center;
    text-decoration: none;
}

table td a {
    color: #000;
}

p.actions {
    text-align: center;
}

p.actions img {
    margin-left: 0.5em;
}

img {
    border: none;
}

form fieldset {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 0 20px 0;
    margin: 10px 5% 40px 5%;
    float: left;
    width: 90%;
    display: block;
    border: 1px solid #5a779b;
}

form fieldset legend {
    font-size: 1.4em;
    font-family: 'Bridgnorth', 'Lucida Sans Unicode', 'Georgia', 'sans-serif';
    padding: 0 5px;
}

form label {
    display: block;
    height: 20px;
    font-size: 1em;
    padding-bottom: 4px;
    margin-left: 10px;
}

form input[type='text'],
form input[type='number'],
form input[type='email'],
form input[type='password'],
form input[type='file'],
form select,
form textarea,
form input[type='email'],
form input[type='url'] {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    height: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
    border: 1px solid #aaa;
    padding: 4px 0 1px 5px;
    color: #000;
    background: #fdfdfd;
    max-width: 90%;
}

form select {
    height: 26px;
    vertical-align: middle;
    color: #000;
}

form select option {
    color: #000;
}

form textarea {
    height: 160px;
    width: 500px;
    color: #000;
}

form input[type='text'],
form input[type='password'],
form input[type='email'],
form input[type='number'] {
    width: 250px;
}

form input[type='submit'],
form input[type='button'],
button {
    background-color: #e5e1dd;
    border: 1px #ecf2f8 solid;
    color: #000;
    font-family: 'Bridgnorth', 'Lucida Sans Unicode', 'Georgia', 'sans-serif';
    font-size: 1.4em;
    box-shadow: 2px 2px 2px #888;
    height: 36px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0.5em;
    padding: 0 0.5em;
    -webkit-transition: background 250ms ease;
    -moz-transition: background 250ms ease;
    -ms-transition: background 250ms ease;
    transition: background 250ms ease;
}

form input[type='submit'].small {
    font-size: 1.2em;
    height: 30px;
}

form input[type='submit']:hover,
button:hover {
    background: #b7c8cf;
}

form input[type='checkbox'] {
    margin-left: 1em;
}

form#register input#character_description,
form#form_suggestion input#name {
    /* Honeypot attempt to block some bots */
    display: none;
}

table input[type='text'] {
    width: auto;
}

table.godmode th img {
    padding-top: 4px;
}

table.godmode td {
    text-align: center;
}

table.godmode td:first-child {
    width: 25%;
    text-align: left;
}

table.godmode input[type='text'],
table.godmode input[type='number'] {
    width: 80% !important;
    margin: 0.5em 0;
}

/* Shop specific sliders */
div.slider_container {
    float: left;
    clear: both;
    width: 90%;
    margin: 0 5%;
}

div.shop_slider {
    float: left;
    height: 240px;
    margin: 18px 0;
}

.slider_info {
    text-align: center;
    float: left;
    width: 40px;
    margin: 1em 1.3em;
}

.slider_info span {
    font-size: 0.75em;
}

.slider_info .ui-slider {
    margin-left: 12px;
}

/* ------------------------ */

div.url_error {
    position: absolute;
    width: 70%;
    background: rgba(217, 104, 104, 0.7);
    border: 1px #c63636 solid;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin: 0.5em 15%;
    padding: 0.5em 1em;
    z-index: 100;
}

div.info {
    box-sizing: border-box;
    ms-box-sizing: border-box;
    webkit-box-sizing: border-box;
    moz-box-sizing: border-box;
    min-width: 83.5%;
    background: #e0db58 url('../images/icons/info.png') no-repeat 10px 50%;
    font-weight: bold;
    border: 1px #c4bf33 solid;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin: 0.5em 5%;
    padding: 0 1.5em;
    clear: both;
}

div.success {
    box-sizing: border-box;
    ms-box-sizing: border-box;
    webkit-box-sizing: border-box;
    moz-box-sizing: border-box;
    min-width: 83.5%;
    background: #71de58 url('../images/icons/success.png') no-repeat 10px 50%;
    font-weight: bold;
    border: 1px #3bb120 solid;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin: 0.5em 5%;
    padding: 0 1.5em;
    clear: both;
}

div.error {
    box-sizing: border-box;
    ms-box-sizing: border-box;
    webkit-box-sizing: border-box;
    moz-box-sizing: border-box;
    min-width: 83.5%;
    background: #d96868 url('../images/icons/error.png') no-repeat 10px 50%;
    font-weight: bold;
    border: 1px #c63636 solid;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin: 0.5em 5%;
    padding: 0 1.5em;
    clear: both;
}

.ui-tooltip {
    border: 1px #444 solid;
    opacity: 0.9;
}

.ui-tooltip-content {
    font-size: 85%;
}

strong {
    font-size: 120%;
    font-weight: bold;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

@media screen and (min-width: 960px) {
    /* This is needed for display the panels if the user has hidden them in the mobile view
	   and then changed the browser window again */
    nav#nav_top,
    aside#action_panel,
    aside#inventory_panel {
        display: block !important;
    }
}

@media screen and (min-width: 960px) and (max-width: 1140px) {
    article form#register {
        position: relative;
        top: 0;
        left: 0;
        width: 90%;
        color: #000;
        background: none;
    }
}

/* ----- CSS FOR MOBILE DEVICES ------ */
@media screen and (max-width: 959px) {
    body {
        background-image: url('../images/design/back_ship.png'), url('../images/design/back_sky_small.jpg');
        background-position: 90% 100%, top left;
        background-repeat: repeat-x, no-repeat;
        background-attachment: fixed, fixed;
        background-size: 100% 15%, 100% 50%;
    }

    header h1 {
        padding-top: 0.5em;
    }

    article header h2 {
        margin: 0;
        padding: 0;
    }

    a#nav_top_button,
    a#action_panel_button,
    a#inventory_panel_button {
        display: block;
        float: left;
    }

    a#nav_top_button img,
    a#action_panel_button img,
    a#inventory_panel_button img {
        padding: 0;
        margin: 0;
    }

    article#main,
    aside#inventory_panel,
    aside#log_panel {
        width: 94%;
        float: left;
        clear: both;
        margin: 0.5em 3%;
        min-height: auto !important;
    }

    nav#nav_top,
    aside#action_panel,
    aside#inventory_panel,
    aside#log_panel {
        width: 12em !important;
        min-height: auto !important;
        margin: 0.5em 3%;
        display: none;
        position: absolute;
        top: 9em;
        z-index: 1000;
    }

    nav#nav_top ul li {
        width: 100%;
        float: left;
        clear: both;
        opacity: 1;
    }

    aside#inventory_panel div.inventory_item {
        width: 11em;
        margin: 0.5em;
        float: left;
    }

    footer {
        display: none;
    }

    article form#register {
        position: relative;
        width: auto !important;
        top: auto;
        left: auto;
        margin: 1em 0;
        background: none;
    }

    article form#register label,
    article form#register legend,
    article form#register p {
        color: #000;
    }

    article form#register input[type='submit'] {
        margin: 0.5em 1em 0 -1em;
    }

    div.fb-like-box {
        display: none;
    }
}
