a#action_panel_button {
    display: none;
    padding: 1em;
}

aside#action_panel {
    border: 1px $lightgrey solid;
    background: $whiteglass;
    padding-bottom: 1em;
    padding-top: 1em;
    min-height: 450px;
    height: auto;
    box-sizing: border-box;
}

aside#action_panel h3 {
    color: #000;
    font-size: 1.2em;
    font-family: $font-bridgnorth;
    margin: 0.5em 1em 0.75em 1em;
    letter-spacing: 0.1em;
}

aside#action_panel div {
    float: left;
    width: 100%;
    margin: 0.2em 0;
    background-color: #fff;
    border-top: 1px $lightgrey solid;
    border-bottom: 1px $lightgrey solid;
    box-sizing: border-box;
}

aside#action_panel div:hover {
    background-color: $lightblue;
}

aside#action_panel img {
    margin: 5px 10px;
    float: left;
}

aside#action_panel div a {
    font-family: $font-bridgnorth;
    color: #000;
    line-height: 2.5em;
    text-decoration: none;
    display: block;
}

aside#action_panel div a:hover {
    border: none;
    background-color: $lightblue;
}
