@font-face {
    font-family: 'Bridgnorth';
    src: url('../../assets/fonts/Bridgnorth.otf');
}

body {
    background-color: $lightblue;
    background-image: url('../../assets/images/design/back_ship.png'), url('../../assets/images/design/back_sky.jpg');
    background-position: 90% 100%, top left;
    background-repeat: repeat-x, repeat-x;
    background-attachment: fixed, fixed;
    background-size: 100% 35%, 100% 60%;
    font-size: 100%;
    font-family: $font-trebuchet;
    color: #000;
    line-height: 1.3;
    margin: 0;
    padding: 0;

    &.loading {
        * {
            cursor: wait !important;
            opacity: 0.8;
        }

        &:after {
            position: fixed;
            top: 50%;
            left: 50%;
            margin-left: -80px;
            margin-top: -30px;
            height: 60px;
            width: 160px;
            font-size: 2.5em;
            padding: 0.25em 1em;
            font-family: $font-bridgnorth;
            background-color: #fff;
            color: #000;
            border: 2px #000 solid;
            content: 'Loading...';
        }
    }

    @include mobile {
        background-image: url('../../assets/images/design/back_ship.png'),
            url('../../assets/images/design/back_sky_small.jpg');
        background-position: 90% 100%, top left;
        background-repeat: repeat-x, no-repeat;
        background-attachment: fixed, fixed;
        background-size: 100% 15%, 100% 50%;
    }
}

strong {
    font-size: 120%;
    font-weight: bold;
}

img {
    border: none;
}

a {
    outline: none;

    &.disabled {
        pointer-events: none;
    }
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}
