@keyframes darkShine {
    from {
        box-shadow: 0 0 20px $blackglass;
    }
    to {
        box-shadow: 0 0 5px $blackglass;
    }
}

body {
    background-color: $lightblue;
    background-image: url('/assets/images/design/background-ship.svg'), url('/assets/images/design/back_sky.jpg');
    background-position: bottom left, top left;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    background-attachment: fixed, fixed;
    font-size: $font-size-default;
    font-family: $font-montaga;
    color: #000;
    line-height: 1.3;
    margin: 0;
    padding: 0;

    &.loading {
        pointer-events: none;

        &:before {
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            background: $whitelightglass;
            cursor: wait !important;
            z-index: 100;
            content: '';
        }

        &:after {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 60px;
            width: 160px;
            font-size: 2.5rem;
            padding: 0.25em 1em;
            background-color: #fff;
            color: #000;
            border: 2px #000 solid;
            animation: darkShine 0.75s both ease-out alternate infinite;
            z-index: 101;
            content: 'Loading...';
        }
    }

    @include mobile {
        background-image: url('/assets/images/design/background-ship.svg'),
            url('/assets/images/design/back_sky_small.jpg');
        font-size: $font-size-default-mobile;
    }
}

img {
    border: none;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    .container &:first-of-type {
        margin-top: 0;
    }
}

h1 {
    font-size: 3rem;

    @include mobile {
        font-size: 2.5rem;
    }
}

h2 {
    font-size: 2rem;
    margin-bottom: 0.25rem;
}

h3 {
    font-size: 1.7rem;
    margin-bottom: 0.25em;
}

h4 {
    font-size: 1.3rem;
    margin-bottom: 0.25em;
}

h5 {
    font-size: 1rem;
    margin-bottom: 0.5em;
}

ul {
    width: 90%;
    margin: 0 auto;

    li {
        margin-bottom: 0.5em;
    }
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
}

a {
    color: $darkred;
    text-decoration: none;
    outline: none;

    &:hover {
        color: $red;
        text-decoration: underline;
    }

    &.disabled {
        pointer-events: none;
    }
}

hr {
    height: 30px;
    margin: 3em auto;
    background: url('/assets/images/design/divider.svg');
    background-size: contain;
    background-position: 50% 0;
    border: none;
}
