footer {
    position: fixed;
    bottom: 10px;
    right: 10px;

    a {
        color: #fff;
        text-align: right;
        font-style: italic;
        text-decoration: none;
    }

    @include mobile {
        display: none;
    }
}
