fieldset {
    width: 100%;
    padding: 16px;
    margin: 10px 0 40px 0;
    border: 1px $lightgrey solid;
    box-sizing: border-box;
    background-color: $whiteglass;

    @include mobile {
        width: 98%;
        margin: 10px 1% 20px 1%;
    }
}

legend {
    font-size: 1.4rem;
    padding: 0 5px;

    img,
    svg {
        vertical-align: top;
        margin: 0 0.25em;
    }
}

label {
    display: block;
    padding: 8px 0;
    margin: 8px 0 4px 0;
    font-size: 1.2rem;
    user-select: none;
}

input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
input[type='file'],
input[type='email'],
input[type='url'] {
    width: calc(100% - 24px);
    padding: 12px;
    font-size: 1rem;
    margin: 6px 0;
    border: 1px solid $lightgrey;
    color: #000;
    background-color: #fff;
    font-family: $font-montaga;

    &:focus {
        outline-color: $lightgrey;
    }
}

input[type='radio'],
input[type='checkbox'] {
    width: 16px;
    height: 16px;

    & + label {
        display: inline-block;
        margin: 0 8px;
    }
}

select {
    min-width: 90px;
    font-size: 1rem;
    margin-bottom: 5px;
    border: 1px solid $lightgrey;
    background-color: #fff;
    margin: 0;
    padding: 6px 12px;
    font-family: $font-montaga;
    outline: none;
}

textarea {
    width: calc(100% - 16px);
    height: 160px;
    font-size: 1.2rem;
    border: 1px solid $lightgrey;
    padding: 8px;
    color: #000;
    background-color: #fff;
    font-family: $font-montaga;

    @include mobile {
        font-size: 1rem;
    }
}

table {
    input[type='text'] {
        width: auto;
    }

    &.godmode {
        td:first-child {
            width: 25%;
        }

        input[type='text'],
        input[type='number'],
        textarea {
            width: 85%;
            margin: 0.5em 0;
        }
    }
}

form#register input#character_description {
    /* Honeypot attempt to block some bots */
    display: none;
}
