header {
    padding-top: 1em;
    position: relative;
}

header h1 {
    margin-left: 1em;
    text-shadow: 2px 2px 2px #000;
}

header h1 a {
    color: $yellow;
    font-size: 1.5em;
    font-family: $font-bridgnorth;
    text-decoration: none;
    letter-spacing: 0.1em;
}

a#nav_top_button {
    display: none;
    padding: 1em;
}

nav#nav_top {
    background-color: $whiteglass;
    border: 1px $lightgrey solid;
    height: 50px;
}

nav#nav_top p {
    margin: 1em;
}

nav#nav_top ul {
    margin: 0;
    padding: 0;
}

nav#nav_top ul li {
    list-style-type: none;
}

nav#nav_top li a {
    display: block;
    float: left;
    padding: 15px 15px 15px 50px;
    color: #000;
    text-decoration: none;
    border-right: 1px solid $lightgrey;
    letter-spacing: 0.15em;
    font-weight: bold;
    font-family: $font-bridgnorth;
    font-size: 1em;
    background: #fff no-repeat 10px 6px;
    background-size: 32px;
}

nav#nav_top li a#nav_game {
    background-image: url('../../assets/images/icons/game.png');
}
nav#nav_top li a#nav_register {
    background-image: url('../../assets/images/icons/register.png');
}
nav#nav_top li a#nav_players {
    background-image: url('../../assets/images/icons/players.png');
}
nav#nav_top li a#nav_chat {
    background-image: url('../../assets/images/icons/chat.png');
}
nav#nav_top li a#nav_about {
    background-image: url('../../assets/images/icons/about_faq.png');
}
nav#nav_top li a#nav_settings {
    background-image: url('../../assets/images/icons/settings.png');
}
nav#nav_top li a#nav_logout {
    background-image: url('../../assets/images/icons/logout.png');
}

nav#nav_top li a:hover,
nav#nav_top li a#nav_game:hover,
nav#nav_top li a#nav_register:hover,
nav#nav_top li a#nav_players:hover,
nav#nav_top li a#nav_chat:hover,
nav#nav_top li a#nav_about:hover,
nav#nav_top li a#nav_settings:hover,
nav#nav_top li a#nav_logout:hover {
    background-color: $lightblue;
}

nav#nav_top li a.disabled {
    opacity: 0.6;
}

nav#nav_top li a.disabled:hover {
    background-color: transparent !important;
    cursor: default;
}
