article {
    header {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    p {
        margin: 1em 2em;
    }

    a {
        color: $darkred;
        text-decoration: underline;

        &:hover {
            color: $red;
        }
    }

    .divider {
        display: block;
        float: left;
        clear: both;
        width: 100%;
        height: 30px;
        margin: 1em auto 1em auto;
        background: url('../../assets/images/design/divider.png') transparent no-repeat;
        background-position: 50% 0;
    }

    h2 {
        z-index: 20;
        position: absolute;
        top: 30px;
        left: 60px;
        color: $yellow;
        font-size: 1.8em;
        font-family: $font-bridgnorth;
        background: $blackglass;
        width: 85.5%;
        height: 42px;
        padding: 0 0.5em;
        clear: both;
    }

    h3 {
        margin: 1em 2em 0 2em;
        color: #000;
        font-size: 1.7em;
        font-family: $font-bridgnorth;
        clear: both;
    }

    h4 {
        margin: 1em 2em 0 2em;
        color: #000;
        font-size: 1.3em;
        font-family: $font-bridgnorth;
        clear: both;
    }
}

article img.header {
    width: 90%;
    border: 1px black solid;
    margin: 1em 5% 0 5%;
    z-index: 1;
}

article section.actions {
    float: left;
    clear: both;
    width: 90%;
    margin: 0 auto;
    padding: 20px 5%;
    text-align: center;
}

article section.actions a {
    display: inline-block;
    text-align: center;
    margin: 6px;
    padding: 14px 0;
    height: 2.8em;
    width: 4.8em;
    line-height: 0.4em;
    background-color: #fff;
    border: 1px $lightgrey solid;
    font-family: $font-bridgnorth;
    font-size: 1.2em;
    color: #000;
    text-decoration: none;
}

article section.actions a img {
    display: block;
    margin: 0.1em auto 0.5em auto;
    clear: both;
}

article section.actions a.largepic {
    padding: 0.5em 2em;
    width: 136px;
    height: auto;
    line-height: 100%;
}

article section.actions a.nopic {
    height: 26px;
    width: 150px;
    padding: 12px 0 0 0;
}

article section.actions a.positive,
article section.actions button.positive {
    border: 2px #3bb120 solid;
}

article section.actions a.negative,
article section.actions button.negative {
    border: 2px #c63636 solid;
}

article section.actions input[type='submit'],
article section.actions button {
    width: 100px;
    height: 50px;
}

article section.actions a:hover,
article section.actions button:hover {
    background: $lightblue;
}

article ul {
    width: 80%;
    margin: 1em 10%;
}

article ul li {
    padding-bottom: 0.8em;
}

article ul li.attack_good {
    min-width: 90%;
    background: #71de58;
    font-weight: bold;
    padding: 0em 1em 1em 1em;
    margin: 0 2em 1em 2em;
    border: 1px #3bb120 solid;
}

article ul li.attack_bad {
    width: 90%;
    background: #d96868;
    font-weight: bold;
    padding: 0em 1em 1em 1em;
    margin: 0 2em 1em 2em;
    border: 1px #c63636 solid;
}

p.actions {
    text-align: center;
}

p.actions img {
    margin-left: 0.5em;
}

.pagination a {
    margin: 0 0.25em;
}
