@media screen and (min-width: 960px) {
    /* This is needed for display the panels if the user has hidden them in the mobile view
	   and then changed the browser window again */
    nav#nav_top,
    aside#action_panel,
    aside#inventory_panel {
        display: block !important;
    }
}

@media screen and (min-width: 960px) and (max-width: 1140px) {
    article form#register {
        position: relative;
        top: 0;
        left: 0;
        width: 90%;
        color: #000;
        background: none;
    }
}

/* ----- CSS FOR MOBILE DEVICES ------ */
@media screen and (max-width: 959px) {
    body {
        background-image: url('../../assets/images/design/back_ship.png'),
            url('../../assets/images/design/back_sky_small.jpg');
        background-position: 90% 100%, top left;
        background-repeat: repeat-x, no-repeat;
        background-attachment: fixed, fixed;
        background-size: 100% 15%, 100% 50%;
    }

    header {
        padding-top: 0;
    }

    article header h2 {
        margin: 0;
        padding: 0;
        left: 27px;
    }

    header h1 {
        margin-bottom: 0;
    }

    a#nav_top_button,
    a#action_panel_button,
    a#inventory_panel_button {
        display: block;
        float: left;
    }

    a#nav_top_button img,
    a#action_panel_button img,
    a#inventory_panel_button img {
        padding: 0;
        margin: 0;
    }

    article#main,
    aside#inventory_panel,
    aside#log_panel {
        width: 94%;
        float: left;
        clear: both;
        margin: 0.5em 3%;
        min-height: auto !important;
    }

    nav#nav_top,
    aside#action_panel,
    aside#inventory_panel,
    aside#log_panel {
        width: 100% !important;
        min-height: auto !important;
        margin: 0.5em 0;
        display: none;
        position: absolute;
        top: 9em;
        z-index: 1000;
        background: #fff;
    }

    .action-panel {
        grid-area: none;
    }

    nav#nav_top ul li {
        width: 100%;
        float: left;
        clear: both;
        opacity: 1;
        background: #fff;
    }

    nav#nav_top ul li a {
        border: 0 !important;
    }

    aside#inventory_panel div.inventory_item {
        width: 11em;
        margin: 0.5em;
        float: left;
    }

    footer {
        display: none;
    }

    article form#register {
        position: relative;
        width: auto !important;
        top: auto;
        left: auto;
        margin: 1em 0;
        background: none;
    }

    article form#register label,
    article form#register legend,
    article form#register p {
        color: #000;
    }

    article form#register input[type='submit'] {
        margin: 0.5em 1em 0 -1em;
    }

    div.fb-like-box {
        display: none;
    }
}
