div.url_error {
    position: absolute;
    width: 70%;
    background-color: $redglass;
    border: 1px $lightgrey solid;
    margin: 0.5em 15%;
    padding: 0.5em 1em;
    z-index: 100;
}

div.info {
    box-sizing: border-box;
    min-width: 83.5%;
    background: $yellow url('../../assets/images/icons/info.png') no-repeat 10px 50%;
    font-weight: bold;
    border: 1px $lightgrey solid;
    margin: 0.5em 5%;
    padding: 0 1.5em;
    clear: both;
}

div.success {
    box-sizing: border-box;
    min-width: 83.5%;
    background: $green url('../../assets/images/icons/success.png') no-repeat 10px 50%;
    font-weight: bold;
    border: 1px $lightgrey solid;
    margin: 0.5em 5%;
    padding: 0 1.5em;
    clear: both;
}

div.error {
    box-sizing: border-box;
    min-width: 83.5%;
    background: $redglass url('../../assets/images/icons/error.png') no-repeat 10px 50%;
    font-weight: bold;
    border: 1px $lightgrey solid;
    margin: 0.5em 5%;
    padding: 0 3.5em;
    clear: both;
}
