#register {
    z-index: 20;
    position: absolute;
    top: 100px;
    left: 60px;
    width: 83.5%;
    height: 210px;
    padding: 1em 1.5em 10em 1.5em;
    background-color: $blackglass;

    fieldset {
        margin: 0;
        width: 100%;
        border: none;
    }

    legend {
        color: $yellow;
        font-size: 1.4em;
        font-family: $font-bridgnorth;
        margin: 0;
        margin-bottom: 0.5em;
    }

    label {
        color: #fff;
    }

    p {
        color: #fff;
        margin: 0 0 0 1em;
    }

    img {
        margin: -0.4em 0em;
    }

    #register_left {
        float: left;
        width: auto;
        width: 75%;
    }

    #register_right {
        float: left;
        margin-left: 1em;
        width: auto;
    }

    input[type='text'],
    input[type='number'] {
        margin-left: 0;
    }

    input[type='submit'] {
        height: 100px;
        width: 100px;
    }

    #js-start-avatar-selector-trigger {
        margin-left: 0;
    }

    @include tablet {
        position: relative;
        width: auto !important;
        top: auto;
        left: auto;
        margin: 1em 0;
        background: none;

        label,
        legend,
        p {
            color: #000;
        }

        input[type='submit'] {
            margin: 0.5em 1em 0 -1em;
        }
    }
}
