#register {
    z-index: 20;
    position: absolute;
    top: 100px;
    left: 44px;
    width: calc(100% - 88px);
    min-height: 210px;
    padding: 16px 8px;
    background-color: $blackglass;
    box-sizing: border-box;

    .flex > div:first-child {
        min-width: 15%;
    }

    fieldset {
        margin: 0;
        width: 100%;
        border: none;
    }

    legend {
        color: $yellow;
        font-size: 1.4rem;
        margin: 0;
        margin-bottom: 0.5em;
    }

    label {
        color: #fff;
        margin-bottom: 0;
    }

    p {
        color: #fff;
        margin: 0 0 0 1em;
    }

    img {
        margin: -0.4em 0em;
    }

    #js-start-avatar-selector-trigger {
        margin-left: 0;
    }

    @include tablet {
        position: relative;
        width: auto !important;
        top: auto;
        left: auto;
        margin: 1em 0;
        background: none;

        label,
        legend,
        p {
            color: #000;
        }
    }
}
