table {
    width: 100%;
    margin: 1em 0;
    border-spacing: 0;
    font-size: 1rem;

    &.table-fixed {
        table-layout: fixed;
    }

    tr {
        background-color: $lightestgrey;

        &.selected {
            background-color: $lightblue !important;
        }

        &:nth-child(even) {
            background-color: #fff;
        }
    }

    th {
        background-color: $lightestgrey;
        text-align: left;
        padding: 4px;

        a {
            color: #000 !important;
            vertical-align: middle;
        }

        svg {
            margin-left: 0.5em;
        }
    }

    td {
        padding: 4px;

        img,
        svg {
            vertical-align: middle;
            margin-top: -2px;
            margin-right: 0.5em;
        }
    }
}

fieldset table td:first-child {
    width: 35% !important;
}
