table {
    width: 90%;
    margin: 1em 5%;
}

fieldset table td:first-child {
    width: 35% !important;
}

table td,
table th {
    border: 1px $lightgrey solid;
    padding: 4px;

    img,
    svg {
        vertical-align: middle;
        margin-top: -4px;
        margin-right: 0.5em;
    }
}

table th,
table tr {
    background-color: $lightestgrey;
}

table tr:nth-child(even) {
    background: #fff;
}

table th,
table th a {
    color: #000 !important;
    text-align: left;
    text-decoration: none !important;
}
