.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-small {
    font-size: 0.9rem;
}

.w-100 {
    width: 100%;
    max-width: 100%;
}

.w-50 {
    width: 50%;
    max-width: 50%;

    @include mobile {
        width: 100%;
        max-width: 100%;
    }
}

.flex {
    display: flex;
    flex-direction: row;

    & > div:first-child {
        margin-right: 8px;

        @include mobile {
            margin-right: 0;
        }
    }

    @include mobile {
        flex-direction: column;
    }
}

.flex-full {
    flex: 1 0 0;
}

.flex-align-center {
    align-items: center;
}

.flex-align-right {
    justify-content: flex-end;
}

.container {
    padding: #{$spacing * 2} #{$spacing * 4};

    & + & {
        padding-top: 0;
    }

    @include mobile {
        padding: #{$spacing * 2} $spacing;
    }
}

.ml-auto {
    margin-left: auto;
}

.error {
    padding: 0.5em 1em;
    background-color: $red;
    color: #fff;
}

.border {
    border: 2px $grey solid;
}

.img-right {
    float: right;

    @include mobile {
        float: none;
        display: block;
        margin: 0 auto;
    }
}

.img-center {
    display: block;
    margin: 0 auto;
}

.mobile-only {
    display: none;

    @include mobile {
        display: block;
    }
}

.desktop-only {
    display: block;

    @include mobile {
        display: none;
    }
}

// Margins and paddings

$directions: (
    "r": "right",
    "l": "left",
    "t": "top",
    "b": "bottom"
);

$levels: 6;

@for $i from 0 through $levels {
    @each $direction, $directionLong in $directions {
        .m#{$direction}-#{$i} {
            margin-#{$directionLong}: $spacing * $i;
        }
        
        .m#{$direction}-mobile-#{$i} {
            @include mobile {
                margin-#{$directionLong}: $spacing * $i !important;
            }
        }

        .p#{$direction}-#{$i} {
            padding-#{$directionLong}: $spacing * $i;
        }
        
        .p#{$direction}-mobile-#{$i} {
            @include mobile {
                padding-#{$directionLong}: $spacing * $i !important;
            }
        }
    }
}
