.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.w-100 {
    width: 100%;
    max-width: 100%;
}

.w-50 {
    width: 50%;
    max-width: 50%;

    @include mobile {
        width: 100%;
        max-width: 100%;
    }
}

.flex {
    display: flex;
    flex-direction: row;

    & > div:first-child {
        margin-right: 8px;
    }

    @include mobile {
        flex-direction: column;
    }
}

.flex-full {
    flex: 1 0 0;
}

.flex-align-center {
    align-items: center;
}

.flex-align-right {
    justify-content: flex-end;
}

.container {
    padding: #{$spacing * 2} #{$spacing * 4};

    & + & {
        padding-top: 0;
    }

    @include mobile {
        padding: #{$spacing * 2} $spacing;
    }
}

.ml-auto {
    margin-left: auto;
}

.error {
    padding: 0.5em 1em;
    background-color: $red;
    color: #fff;
}

.border {
    border: 2px $grey solid;
}

.img-right {
    float: right;

    @include mobile {
        float: none;
        display: block;
        margin: 0 auto;
    }
}

.img-center {
    display: block;
    margin: 0 auto;
}

@for $i from 1 through 6 {
    .mr-#{$i} {
        margin-right: $spacing * $i;
    }
}

@for $i from 1 through 6 {
    .ml-#{$i} {
        margin-left: $spacing * $i;
    }
}

@for $i from 1 through 6 {
    .mt-#{$i} {
        margin-top: $spacing * $i;
    }
}

@for $i from 1 through 6 {
    .mb-#{$i} {
        margin-bottom: $spacing * $i;
    }
}

@for $i from 1 through 6 {
    .m-#{$i} {
        margin: $spacing * $i;
    }
}
