// Colors
$lightblue: #e5f0f6;
$lightestgrey: #f7f7f7;
$lightgrey: #d0d0d0;
$grey: #777;
$whiteglass: rgba(255, 255, 255, 0.8);
$yellow: #ffdc5c;
$darkred: #c23a3a;
$redglass: rgba(217, 104, 104, 0.7);
$red: #ff2828;
$blackglass: rgba(0, 0, 0, 0.8);
$green: #74ce60;
$darkgreen: #3bb120;

// Fonts
$font-trebuchet: 'Trebuchet MS', 'Tahoma', Arial, Helvetica, sans-serif;
$font-bridgnorth: 'Bridgnorth', 'Lucida Sans Unicode', 'Georgia', 'sans-serif';

// Resolutions
$device-mobile-max: 960px;
$device-desktop-min: 1200px;
