// Colors
$lightblue: #e5f0f6;
$lightestgrey: #f7f7f7;
$lightgrey: #d0d0d0;
$grey: #777;
$whiteglass: rgba(255, 255, 255, 0.8);
$whitelightglass: rgba(255, 255, 255, 0.25);
$yellow: #ffcd5b;
$darkred: #c23a3a;
$redglass: rgba(217, 104, 104, 0.7);
$red: #e50000;
$blackglass: rgba(0, 0, 0, 0.8);
$blacklightglass: rgba(0, 0, 0, 0.1);
$green: #74ce60;
$darkgreen: #3bb120;

// Typography
$font-montaga: 'Montaga', 'Trebuchet MS', 'Tahoma', Arial, Helvetica, serif;
$font-size-default: 18px;
$font-size-default-mobile: 16px;

// Resolutions
$device-mobile-max: 960px;
$device-desktop-min: 1200px;
